.todo {
  padding: 1rem;
  max-width: 40vw;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto 3rem auto auto;

  margin-top: 1rem;
  border: 0.2rem solid rgb(77, 38, 95);
  border-radius: 2rem;
  background-color: rgb(255, 252, 252);

  .todoId {
    justify-self: start;
    align-self: center;   
    grid-column: 1 / span 4;
    grid-row: 1;

    padding-left: 1rem;
    font-size: 1rem;
    color: rgb(112, 112, 112);
  }
  h2 {
    align-self: center;
    grid-column: 2 / span 4;
    grid-row: 2;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    line-height: 1;
  }
  .todoDesc {
    grid-column: 1 / span 6;
    grid-row: 3;
    font-size: 1.5rem;
    padding-top: 1rem;
  }
  input { 
    justify-self: end;
    align-self: center;
    grid-column: 6;
    grid-row: 1;

    width: 2rem;
    height: 2rem;
  }
  button {
    grid-row: 4;
    background-color: rgb(190, 183, 197);
    margin: 0.5rem;
  }

  .delBtn  {
    grid-column: 1;
  }      

}

.todo.done {
  opacity: 60%;
}
